<div class="well">
<h1> Just who am I?</h1>

<h3>A Background Most Breif</h3>
<p>Before I began my journey to become a web developer, I worked at my local Fred Meyer. I gained valuable experiences in honing my professional skills in customer service, teamwork, spill response, but by the end I was trapped in soul-curshing cycle of work-eat-sleep. I was ready to pursure something that I was passonaite, something that I could see myself doing for a long time. That something was programming.  I had always toyed around with the idea of programming but never took it too seriously, as it seemed like a bunch of black magic I could not even begin to understand.  After close to a full year and half of an arduous retail existence, I was ready to try coding.</p>

	<p>I enrolled into the Epicodus part-time Introduction to Programming class, to get a feel if becoming a web developer was something I wanted to do.  I was only three weeks into that program, and I knew that I was ready to take the deep dive.  Months have past since that pivotal moment, and the black magic that was coding, has been de-mystified.  Along with my new understanding of programming, I have confidence in my skills using html, css, javascript, and ruby, and  as well as my abilities to use jquery and bootstrap to make more a dynamic website, than an unchanging electric brick wall.
</p>
</div>
<div class="well">
 <h3> Where else to find me! </h3>
 <a href="https://www.linkedin.com/in/marty-kovach-tye105">LinkedIn!</a>
 <br>
 <a href="https://github.com/tyedye105">GitHub!</a>
</div>
