---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tyedye105/repos?access_token=28fd9e12dc9d8ee6970a1b2dae1b16b5bf9ec646&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1488786749'
      Etag:
      - W/"a6b226537b78a0c6e3965bae45642cef"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20779414/repos?access_token=28fd9e12dc9d8ee6970a1b2dae1b16b5bf9ec646&per_page=100&page=2>;
        rel="next", <https://api.github.com/user/20779414/repos?access_token=28fd9e12dc9d8ee6970a1b2dae1b16b5bf9ec646&per_page=100&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":70553463,"name":"addy","full_name":"tyedye105/addy","owner":{"login":"tyedye105","id":20779414,"avatar_url":"https://avatars1.githubusercontent.com/u/20779414?v=3","gravatar_id":"","url":"https://api.github.com/users/tyedye105","html_url":"https://github.com/tyedye105","followers_url":"https://api.github.com/users/tyedye105/followers","following_url":"https://api.github.com/users/tyedye105/following{/other_user}","gists_url":"https://api.github.com/users/tyedye105/gists{/gist_id}","starred_url":"https://api.github.com/users/tyedye105/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tyedye105/subscriptions","organizations_url":"https://api.github.com/users/tyedye105/orgs","repos_url":"https://api.github.com/users/tyedye105/repos","events_url":"https://api.github.com/users/tyedye105/events{/privacy}","received_events_url":"https://api.github.com/users/tyedye105/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tyedye105/addy","description":"Address
        book excersie","fork":false,"url":"https://api.github.com/repos/tyedye105/addy","forks_url":"https://api.github.com/repos/tyedye105/addy/forks","keys_url":"https://api.github.com/repos/tyedye105/addy/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tyedye105/addy/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tyedye105/addy/teams","hooks_url":"https://api.github.com/repos/tyedye105/addy/hooks","issue_events_url":"https://api.github.com/repos/tyedye105/addy/issues/events{/number}","events_url":"https://api.github.com/repos/tyedye105/addy/events","assignees_url":"https://api.github.com/repos/tyedye105/addy/assignees{/user}","branches_url":"https://api.github.com/repos/tyedye105/addy/branches{/branch}","tags_url":"https://api.github.com/repos/tyedye105/addy/tags","blobs_url":"https://api.github.com/repos/tyedye105/addy/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tyedye105/addy/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tyedye105/addy/git/refs{/sha}","trees_url":"https://api.github.com/repos/tyedye105/addy/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tyedye105/addy/statuses/{sha}","languages_url":"https://api.github.com/repos/tyedye105/addy/languages","stargazers_url":"https://api.github.com/repos/tyedye105/addy/stargazers","contributors_url":"https://api.github.com/repos/tyedye105/addy/contributors","subscribers_url":"https://api.github.com/repos/tyedye105/addy/subscribers","subscription_url":"https://api.github.com/repos/tyedye105/addy/subscription","commits_url":"https://api.github.com/repos/tyedye105/addy/commits{/sha}","git_commits_url":"https://api.github.com/repos/tyedye105/addy/git/commits{/sha}","comments_url":"https://api.github.com/repos/tyedye105/addy/comments{/number}","issue_comment_url":"https://api.github.com/repos/tyedye105/addy/issues/comments{/number}","contents_url":"https://api.github.com/repos/tyedye105/addy/contents/{+path}","compare_url":"https://api.github.com/repos/tyedye105/addy/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tyedye105/addy/merges","archive_url":"https://api.github.com/repos/tyedye105/addy/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tyedye105/addy/downloads","issues_url":"https://api.github.com/repos/tyedye105/addy/issues{/number}","pulls_url":"https://api.github.com/repos/tyedye105/addy/pulls{/number}","milestones_url":"https://api.github.com/repos/tyedye105/addy/milestones{/number}","notifications_url":"https://api.github.com/repos/tyedye105/addy/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tyedye105/addy/labels{/name}","releases_url":"https://api.github.com/repos/tyedye105/addy/releases{/id}","deployments_url":"https://api.github.com/repos/tyedye105/addy/deployments","created_at":"2016-10-11T03:43:06Z","updated_at":"2016-10-11T03:46:43Z","pushed_at":"2016-10-11T03:46:42Z","git_url":"git://github.com/tyedye105/addy.git","ssh_url":"git@github.com:tyedye105/addy.git","clone_url":"https://github.com/tyedye105/addy.git","svn_url":"https://github.com/tyedye105/addy","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":68665843,"name":"animalsbr","full_name":"tyedye105/animalsbr","owner":{"login":"tyedye105","id":20779414,"avatar_url":"https://avatars1.githubusercontent.com/u/20779414?v=3","gravatar_id":"","url":"https://api.github.com/users/tyedye105","html_url":"https://github.com/tyedye105","followers_url":"https://api.github.com/users/tyedye105/followers","following_url":"https://api.github.com/users/tyedye105/following{/other_user}","gists_url":"https://api.github.com/users/tyedye105/gists{/g[...]
